<div class="row">
  <div class="col-6">
    <%= form_with(model: error) do |f| %>
      <% if error.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul class="mb-0">
            <% error.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :content, 'エラータイトル' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :message, 'エラーメッセージ' %>
        <%= f.text_field :message, class: 'form-control' %>
      </div>

      <%= f.submit '登録', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
