<h1>エラーメッセージ一覧</h1>

<% if @errors.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>エラータイトル</th>
        <th>エラーメッセージ</th>
      </tr>
    </thead>
    <tbody>
      <% @errors.each do |error| %>
        <tr>
          <td><%= link_to error.id, error %></td>
          <td><%= error.content%></td>
          <td><%= error.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>

<%= link_to 'エラーメッセージの登録', new_error_path, class: "btn btn-primary" %>