<h1>id: <%= @error.id %> のメッセージ詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @error.id %></td>
  </tr>
  <tr>
    <th>エラータイトル</th>
    <td><%= @error.content%></td>
  </tr>
  <tr>
    <th>エラーメッセージ</th>
    <td><%= @error.message%></td>
  </tr>
</table>

<%= link_to '編集する', edit_error_path(@error), class: 'btn btn-light' %>
<%= link_to '削除する', @error, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>