<h1>id: <%= @error.id %> のメッセージ詳細ページ</h1>

<p>エラータイトル<%= @error.content %></p>
<p>エラーメッセージ: <%= @error.message %></p>

<%= link_to '一覧に戻る', errors_path %>
<%= link_to '編集する', edit_error_path(@error) %>
<%= link_to '削除する', @error, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>